body{
    display:flex;
    justify-content: center;
}

#incomes-container{
    display:flex;
    flex-direction: column;
    width: 60vw;
    background-color: rgb(168, 185, 235);
    padding: 20px;
    color: white;
    border-radius: 20px;
    gap: 20px;
}